<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {%load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="{% static 'jquery-3.6.0.js' %}"
    ></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="{% static 'parcel_admin.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'parcel_ico.png' %}" />
    <title>PARCEL BACKENDS ADMIN</title>
  </head>
  <!-- The body section begins here -->
  <body class="admin-body">
    <div id="nav-bar">
      <div class="brand">
        <img
          class="brand"
          alt="Company Logo"
          id="logo"
          src="{% static 'parcel_ico.png' %}"
        />
      </div>
      <div class="bar-title">
        <p>ADMIN PANEL</p>
      </div>
    </div>

    {% block content %} {% endblock %}
    <footer id="showFoot">
      <p>Powered by De-Extralucid Tech World &copy; 2022.</p>
      <p>All rights reserved.</p>
    </footer>
    <script
      type="text/javascript"
      src="{% static 'bootstrap.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'admin.js' %}"></script>
  </body>
</html>
