 {% extends 'parcel_backends/base.html' %}
    {% block content %}
        {% load static %}
 <div>
     <input id="permit" type="hidden" value="{{permit}}"/>
     <input id="typ" type="hidden" value="{{type}}"/>
     <input id="user" type="hidden" value="{{user}}"/>
     <h4 style="text-align: center; margin-top: 25px;color: rgb(219, 33, 76);text-transform: uppercase;margin-bottom: 30px;">{{message}}</h4>
     
     <div id="alert-container"></div>
     
     <div id="reset-container">

     </div>
 </div>
<script>
    const UseFetch = async (url, meth, bod) => {
    function getCookie(name) {
        let cookieValue = null;
        if(document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i=0; i<cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1)) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');

    const res = await fetch(url, {
        method: meth,
        mode: "same-origin",
        credentials: "include",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json",
            "X-CSRFToken": csrftoken,
            "X-Requested-With": "XMLHttpRequest"
        },
        body: JSON.stringify(bod)
    });

    const data = await res.json();

    return data;
}

    let permit = document.getElementById('permit').value;
    let reset_container = document.getElementById('reset-container');
    if (permit === "true") {
        reset_container.innerHTML = "<div class='container'>"
            + "<div class='form-group'>" 
            + "<input type='password' name='password' id='password' value='' class='form-control' placeholder='Enter Password' />"
            + "</div>"
            + "<div class='form-group'>"
            + "<input type='password' name='re_password' id='re-password' class='form-control' placeholder='Retype Password' />"
            + "</div>"
            + "<input style='background-color: rgb(219, 33, 76)' type='submit' id='reset-user' class='btn' value='Submit'  />"
            "</div>";
    }

    if (reset_container.innerHTML !== "") {
        let email = document.getElementById('user').value;
        let typ = document.getElementById('typ').value;
        let password = document.getElementById('password');
        let reset_user = document.getElementById('reset-user');
        let re_password = document.getElementById('re-password');
        reset_user.addEventListener('click', (e)=> {
            e.preventDefault();
            let apiUrl = "";
            switch(typ) {
                case "vendor": apiUrl = '/parcel_backends/ven_reset_save/';
                    break;
                case "courier": apiUrl = '/parcel_backends/cour_reset_save/';
                    break;
                case "customer": apiUrl = '/parcel_customer/cus_reset_save/';
                    break;
            }

            console.log(apiUrl);
            let alert_container = document.getElementById('alert-container');
            if (password.value !== re_password.value) {
                alert_container.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert' >"
                    + "<p style='text-align:center;'>" + "Passwords did not match" + "</p>"
                    + "<button class='close' role='alert' data-dismiss='alert'>" + "<span>" + "&times;" + "</span>"
                    + "</button>" 
                    + "</div>";
            } else {
                let data = {
                    "email": email,
                    "password": password.value
                }
                let result = UseFetch(apiUrl, 'POST', data);
                result.then((res) => {
                    if (res.status === "success") {
                        alert_container.innerHTML = "<div class='alert alert-success alert-dismissible' role='alert' >"
                    + "<p style='text-align:center;'>" + `${res.data}` + "</p>"
                    + "<button class='close' role='alert' data-dismiss='alert'>" + "<span>" + "&times;" + "</span>"
                    + "</button>" 
                    + "</div>";
                    reset_container.innerHTML = "";
                    permit = "false";
                    } else if (res.status === "error") {
                        alert_container.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert' >"
                    + "<p style='text-align:center;'>" + `${res.data}` + "</p>"
                    + "<button class='close' role='alert' data-dismiss='alert'>" + "<span>" + "&times;" + "</span>"
                    + "</button>" 
                    + "</div>";
                    reset_container.innerHTML = "";
                    permit = "false";
                    } else {
                        alert_container.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert' >"
                    + "<p style='text-align:center;'>" + "An error occured!" + "</p>"
                    + "<button class='close' role='alert' data-dismiss='alert'>" + "<span>" + "&times;" + "</span>"
                    + "</button>" 
                    + "</div>";
                    }
                }).catch((err) => console.log(err));
            }
            
        });
    }
</script>

 {% endblock %}